{{#paper-item class="md-2-line"}}
  {{#paper-button iconButton=true onClick=(action "delete") class="md-avatar-icon"}}
    {{paper-icon "mode-edit"}}
  {{/paper-button}}
  {{#paper-button iconButton=true onClick=(action "delete") class="md-avatar-icon"}}
    {{paper-icon "delete"  }}
  {{/paper-button}}

  <div class="md-list-item-text">
    <h3>{{question.text}}</h3>
    <p>nature</p>
  </div>
{{/paper-item}}
