{{#paper-content class="layout-column flex-offset-10 md-padding"}}
  <div class="layout-row">
    <div class="flex-90">
    {{paper-input
          textarea=true block=true maxlength=300
          label="Question Text"
          value=text
          onChange=(action (mut text))
          required=true
          errorMessages=(hash required="Question is required.")}}
    </div>
  </div>
  {{#paper-radio-group
    groupValue=(readonly correct_answer_index)
    onChange=(action (mut correct_answer_index)) as |group|}}
    {{#each answers key="correct" as |answer i|}}
      <div class="layout-row">
          <div class="flex-5 flex-offset-5" style="align-items: center;display:flex">
            <div>
              {{#group.radio value=i }}{{/group.radio}}
            </div>
          </div>
          <div class="flex-80">
              {{paper-input
                    textarea=true maxlength=150 block=true
                    label="Answer Text"
                    value=answer.text
                    onChange=(action (mut answer.text))
                    required=true
                    errorMessages=(hash required="Answer is required.")}}
          </div>
      </div>
    {{/each}}
  {{/paper-radio-group}}
  <div class="layout-row flex-offset-10">

    {{#paper-button raised=true onClick=(action "save")}}
        Save
    {{/paper-button}}


    {{#paper-button raised=true onClick=(action "cancel")}}
        Cancel
    {{/paper-button}}

  </div>
{{/paper-content}}
