{{#paper-toolbar}}
  {{#paper-toolbar-tools}}
    {{#paper-button iconButton}}
      {{#link-to 'index' }}
        Trivia
      {{/link-to}}
    {{/paper-button}}
    {{#paper-button }}
      {{#link-to 'admin.questions'}}
        Questions
      {{/link-to}}
    {{/paper-button }}

    {{#paper-button }}
      {{#link-to 'admin.users'}}
        Users
      {{/link-to}}
    {{/paper-button }}

    <span class="flex"></span>
    {{#paper-button iconButton=true}}
      {{paper-icon "more_vert"}}
    {{/paper-button}}
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}
{{outlet}}
