{{#paper-toolbar}}
  {{#paper-toolbar-tools}}
    {{#paper-button iconButton onClick=(transition-to 'index')}}
    {{paper-icon "home"}}
        Trivia
    {{/paper-button}}
    {{#paper-button onClick=(transition-to 'admin.questions')}}
        Questions
    {{/paper-button }}
    {{#paper-button onClick=(transition-to 'admin.users')}}
        Users
    {{/paper-button }}
    <span class="flex"></span>
    {{#paper-button iconButton=true}}
      {{paper-icon "more_vert"}}
    {{/paper-button}}
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}
{{outlet}}
