{{#paper-toolbar}}
  {{#paper-toolbar-tools}}
    {{#paper-button iconButton onClick=(transition-to 'index')}}
    {{paper-icon "home"}}
        Trivia
    {{/paper-button}}
    {{#paper-button onClick=(transition-to 'admin.questions')}}
        Questions
    {{/paper-button }}
    {{#paper-button onClick=(transition-to 'admin.players')}}
        Players
    {{/paper-button }}
    {{#paper-button onClick=(transition-to 'admin.avatars')}}
        Avatars
    {{/paper-button }}
    <span class="flex"></span>
    {{#paper-button iconButton=true}}
      {{paper-icon "more_vert"}}
    {{/paper-button}}
  {{/paper-toolbar-tools}}
{{/paper-toolbar}}
{{#paper-content class="md-padding layout-margin" }}
  {{#paper-content class=""}}
    {{liquid-outlet}}
  {{/paper-content}}
{{/paper-content}}
